.bounding-box{
    font-family: 'sofia-pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;

}